{% extends '@__main__/layout.twig' %}

{% block meta %}
    <meta property="og:title" content="{{ item.title }}" />
    <meta property="og:url" content="{{ current_url() }}" />
    <meta property="og:image:width" content="{{ item.sizes.m800.width ?: item.width }}" />
    <meta property="og:image:height" content="{{ item.sizes.m800.height ?: item.height }}" />
    <meta property="og:image" content="{{ item.sizes.m800.url ?: item.url }}" />
    <link rel="image_src" href="{{ item.sizes.m800.url ?: item.url }}" />
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ base_url }}/ui/lib/justifiedGallery.min/justifiedGallery.min.css" media="screen" />
{% endblock %}


{% block contents %}
    <!-- viewbox -->
    <div id="viewbox">
        <div class="img-container">
            <div>
                <img src="{{ item.sizes.m800.url ?: item.url }}" class="" />
                <img src="{{ item.sizes.l2048.url ?: item.url }}" class="" />
            </div>
        </div>
        <div class="tools row">
            <div class="col-xs-6 title">
                <a href="#">
                    <i class="glyphicon glyphicon-picture"></i>
                    <span>{{ item.title }}</span>
                </a>
            </div>
            <div class="col-xs-6 text-right">
                <a href="{{ url_for('download', { 'album': item.album, 'item': item.id }) }}" class="download" title="Lae alla">
                    <i class="glyphicon glyphicon-save"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- th -->
    <img class="thumbnail hidden"
         data-original="{{ item.sizes.l2048.url ?: item.url }}"
         style="width:{{ item.sizes.m800.width ?: item.width }}px;height:{{ item.sizes.m800.width ?: item.width }}px;"
         data-vb-src="{{ item.sizes.l2048.url ?: item.url }}"
         data-vb-w="{{ item.sizes.l2048.width ?: item.width }}"
         data-vb-h="{{ item.sizes.l2048.height ?: item.height }}" />
{% endblock %}

{% block scripts %}
    <script src="{{ base_url }}/ui/js/photo.js" type="text/javascript"></script>
{% endblock %}
